$themeColor: red;
$mineBg: #111a3b;
$contentBg: #1b2447;
$info: #304270;
$success: #a7f0ba;
$bsuccess:#8A3FFC;
$iconSize: 24px;
$default: #1b2447;
$remarkColor: #a2a5b0;
$textColor: #dddfe6;
$lineColor: #49537a;
$conBg2: #25345c;
$lineTwoColor: #353e66;
$titleColor: #222a42;
$danger: #ff6666;
$infoMine: linear-gradient(90deg, #0f83fe 0%, #00b0f0 100%);
$yellowMine: linear-gradient(90deg, #ffac33 0%, #ffd45c 100%);
$iconColor: #33b1ff;
$primary: #25b89b !default;
$primary-states: #0096ad !default;
//Mobile
$padd24: 1.5rem;
$padd40: 2.5rem;
$padd80: 5rem;
$fon14: 0.875rem;
$fon20: 1.25rem;
$fon18: 1.125rem;
$fon12: 0.75rem;
$size48: 3rem;
